<!DOCTYPE html>
<html>
<head>
<title>Vine Comp</title>
</head>
<body>

<h1>What vine compilations represent you as a hooman??</h1>
<h2>What are you feelin at the moment🧐</h2>
<ul>
  <li>A) Gimme those spicy memes</li>
  <li>B) "its an avacadooo...thanksss"</li>
  <li>C) im just chillin</li>
  <li>D) i need some laughs in my life </li> 
  <li>E) Lookin for some new content dood</li>
  <li>F) hug me pls </li>
  <form>
</ul>
    Answer:<br>
    <innput type="text" name="answer" ><br>
  </form>
<h2>what sport are ya into?</h2>
<ul>
  <li>A) no time for sports..only memeing</li>
  <li>B) football</li>
  <li>C) chillin in a hot tub</li>
  <li>D) curling...its hilarious  </li> 
  <li>E) lacrosse, its not as popular as it should be tbh</li>
  <li>F) i dont watch sports  </li>
  <form>
</ul>
    Answer:<br>
    <innput type="text" name="answer" ><br>
  </form>

</body>
</html>